<div class="container-fluid">

	<div *ngIf="identity">

		<h1 class="head_title">

			<a [routerLink]="['/']" id="cont_title">
				
		  		<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
		  		
		  		{{title}}

			</a>
		
		</h1>

		<nav id="navigation" class="col-xs-4">
			
			<div class="user_image">

				<img id="image-user" class="image_user_nav" src="{{url + 'get-image-user/' + identity.img}}"/>

			</div>

			<span>

				Bienvenid@ <span id="identity_name"><strong>{{identity.name}}</strong></span>

			</span>
<br>
<br>
			<a [routerLink]="['/mis-datos']" class="nav_elem_musify">

				<span class="glyphicon glyphicon-cog" aria-hidden="true">
					Config
				</span>

			</a>
<br>
			<a href="#" class="nav_elem_musify">

				<span class="glyphicon glyphicon-search" aria-hidden="true">
					Buscar
				</span>

			</a>
<br>
			<a href="#" class="nav_elem_musify">

				<span class="glyphicon glyphicon-user" aria-hidden="true">
					Artistas
				</span>

			</a>
<br>
			<a href="#" class="nav_elem_musify">

				<span class="glyphicon glyphicon-book" aria-hidden="true">
					Albums
				</span>

			</a>
<br>
			<a href="#" class="nav_elem_musify">

				<span class="glyphicon glyphicon-music" aria-hidden="true">
					Audios
				</span>

			</a>
<br>
<br>
			<span id="btn_logout" class="btn btn-warning" (click)="logout()">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</span>

		</nav>

		<div class="col-xs-8" id="router_outlet">

			<router-outlet></router-outlet>

		</div>

	</div>
	
	<div class="row">

		<div  *ngIf="!identity" class="no-identity">
		
		<div class="col-xs-6">

			<h2>Inicia sessión</h2>
			
			<div *ngIf="errorMessage">

				<div class="alert alert-warning">

  					<strong>Error</strong> {{errorMessage}}

				</div>

			</div>

			<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">

				<p>

					<label>Correo electrónico:</label>

					<input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>

					<span *ngIf="!email.valid && email.touched">
						Email obligatorio
					</span>

				</p>

				<p>

					<label>Contraseña:</label>

					<input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>

				</p>

				<input type="submit" value="Entrar" class="btn btn-primary">

			</form>

		</div>
<br>
<br>
		<div class="col-xs-6">

			<h2>Regístrate</h2>
			
			<div *ngIf="alertRegister">

				<div class="alert alert-warning">

  					<strong>Error</strong> {{alertRegister}}

				</div>

			</div>

			<div *ngIf="succesRegister">

				<div class="alert alert-success">

  					<strong>|></strong> {{succesRegister}}

				</div>

			</div>

			<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-7">

				<p>

					<label>Nombre:</label>

					<input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="user_register.name" required>

					<span *ngIf="!name.valid && name.touched">El nombre és obligatorio</span>

				</p>

				<p>

					<label>Apellidos:</label>

					<input type="text" name="surname" #surname="ngModel" class="form-control" [(ngModel)]="user_register.surname" required>

					<span *ngIf="!surname.valid && surname.touched">El apellido és obligatorio</span>

				</p>

				<p>

					<label>Correo electrónico:</label>

					<input type="text" name="emailR" #emailR="ngModel" class="form-control" [(ngModel)]="user_register.email" required>

					<span *ngIf="!emailR.valid && emailR.touched">El email és obligatorio</span>

				</p>

				<p>

					<label>Contraseña:</label>

					<input type="password" name="password" #password="ngModel" class="form-control" [(ngModel)]="user_register.password" required>

					<span *ngIf="!password.valid && password.touched">La contraseña és obligatoria</span>

				</p>
					
				<input type="submit" value="Registrarse" class="btn btn-primary">

			</form>

		</div>

	</div>

</div>