<div class="head-page" *ngIf="identity">
	
	<h2>{{ titulo }}</h2>

	<a [routerLink]="['/crear-artista']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">
		Añadir artista
	</a>

	<ul class="pagination pull-right">
		<li><a [routerLink]="['/artists', prev_page]">&laquo;</a></li>
		<li><a [routerLink]="['/artists', next_page]">&raquo;</a></li>
	</ul>
	
	<div class="clearfix"></div>

	<ul class="artists-list row" *ngIf="identity">
		
		<li *ngFor="let artist of artists" class="col-xs-6 artist-item">

			<div>

				<img class="artist_image" src="{{ url + 'get-image-artist/' + artist.img }}">

			</div>

			<div class="artist_details">

				<div>

					<a [routerLink]="['/artista', artist._id]" class="artist_name">
						{{artist.name}}
					</a>

				</div>
				
				<div class="seguro" *ngIf="confirmado == artist._id && identity.role == 'ROLE_ADMIN'">

					<p class="alert alert-info">Confirma para borrar: </p>

					<a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-warning">Eliminar</a>

					<a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancelar</a>

				</div>
<br>
				<div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">

					<a [routerLink]="['/editar-artista', artist._id]" class="btn btn-sm btn-warning">Editar</a>

					<a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Borrar</a>

				</div>

			</div>
			
		</li>

	</ul>

</div>