<div id="cont_artist-add" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	
	<h2>{{titulo}}</h2>

	<div *ngIf="alertMessage">

		<div class="alert alert-info">
			{{alertMessage}}
		</div>

	</div>

	<form #formArtist="ngForm" (ngSubmit)="onSubmit()">
		
		<p>

			<label>Nombre</label>	

			<input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required>

			<span *ngIf="!name.valid && name.touched">
				El nombre és obligatorio..
			</span>

		</p>

		<p>

			<label>Descripción</label>	

			<textarea class="form-control" #description="ngModel" name="description" [(ngModel)]="artist.description" required>
				
			</textarea>

			<span *ngIf="!description.valid && description.touched">
				La descripción és obligatoria..
			</span>

		</p>
		
		<div *ngIf="is_edit">

			<div *ngIf="artist.img && artist.img != 'null'" class="image_for_edit">

				<img src="{{ url + 'get-image-artist/' + artist.img }}" class="user_image_update">
				
			</div>

			<p>

				<label>Sube la imagen del artista</label>

				<input type="file" placeholder="Subir imagen.." (change)="fileChangeEvent($event)" />

			</p>

		</div>

		<input class="btn btn-success" type="submit" value="{{titulo}}" [disabled]="!formArtist.form.valid">

	</form>

</div>

<div id="cont_artist-add" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
	
	<h2 class="alert alert-warning" style="width: 95%">
		
		Error:
		<p style="font-size: 20px">No tienes acceso a esta parte de la aplicación</p>
	</h2>
</div>