<div class="col-xs-12 cont_form_update" style="padding-left: 0px">

	<h2>{{titulo}}</h2>
	
	<div *ngIf="alertMessage">

		<div class="alert alert-warning">

				<strong>|></strong> {{alertMessage}}

		</div>

	</div>

	<div *ngIf="succesUpdate">


		<div class="alert alert-success">
				<strong>|></strong> {{succesUpdate}}

		</div>

	</div>

	<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="user_update_form">

		<p class="input_user_update">

			<label>Nombre:</label>

			<input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="user.name" required>

		</p>

		<p class="input_user_update">

			<label>Apellidos:</label>

			<input type="text" name="surname" #surname="ngModel" class="form-control" [(ngModel)]="user.surname" required>

		</p>

		<p class="input_user_update">

			<label>Correo electrónico:</label>

			<input type="text" name="emailR" #emailR="ngModel" class="form-control" [(ngModel)]="user.email" required>

		</p>

		<div class="image_for_edit" *ngIf="user.img && user.img != 'null'">

			<img id="image-user-edit" src="{{url + 'get-image-user/' + identity.img}}" class="user_image_update" />

		</div>
		
		<p class="input_user_update"> 

			<label for="">Sube tu foto:</label>

			<input type="file" id="btn_search_img" (change)="fileChangeEvent($event)">
			
		</p>

		<input type="submit" value="Guardar" class="btn btn-primary">

	</form>
</div>