<div class="col-xs-12" style="padding-left: 0px">

	<h2>{{titulo}}</h2>
	
	<div *ngIf="alertMessage">
		<div class="alert alert-warning">
				<strong>Error</strong> {{alertMessage}}
		</div>
	</div>

<!--
	<div *ngIf="succesRegister">
		<div class="alert alert-success">
				<strong>|></strong> {{succesRegister}}
		</div>
	</div>
-->

	<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-xs-7" style="padding-left: 0px">

		<p>
			<label>Nombre:</label>
			<input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="user.name" required style="width: 200px">
			<span *ngIf="!name.valid && name.touched">El nombre és obligatorio</span>
		</p>

		<p>
			<label>Apellidos:</label>
			<input type="text" name="surname" #surname="ngModel" class="form-control" [(ngModel)]="user.surname" required style="width: 200px">
			<span *ngIf="!surname.valid && surname.touched">El apellido és obligatorio</span>
		</p>

		<p>
			<label>Correo electrónico:</label>
			<input type="text" name="emailR" #emailR="ngModel" class="form-control" [(ngModel)]="user.email" required style="width: 200px">
			<span *ngIf="!emailR.valid && emailR.touched">El email és obligatorio</span>
		</p>

		<div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
			<img src="" />
		</div>

		<p>
			<label for="">Sube tu foto:</label>
			<input type="file" placeholder="Buscar imagen">
		</p>
		
<br>
		<input type="submit" value="Guardar" class="btn btn-primary">
<br>
<br>
	</form>
</div>